body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;          /* hauteur min. = 100% de l'écran */
  display: flex;              /* active flexbox */
  flex-direction: column;     /* empile les éléments en colonne */
}

.card {
  background: white;
  border: none;
}

button.btn {
  font-weight: bold;
  border-radius: 30px;
}

#signup-message,
#signin-message,
#profile-message {
  font-weight: 500;
}

.info-user {
  width: 380px;
}

/* Footer collé en bas */
footer {
  margin-top: auto;           /* pousse le footer en bas */
}
